# MacOS
.DS_Store

# VSCode
.vscode/

# Envs
.env/
.env

# Virtual envs
.venv/
.venv

# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data / temp current dir
/data/
/temp/

# Backup
backup/

# Data files
*.parquet
*.7z
*.zip

# Personal knowledge
readings/
course/
