# MacOS
.DS_Store

# Envs
.env/
.env

# Packaging
*.egg-info/
dist/
build/

# Python
__pycache__/
*.pyc

# Packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data / temp
data/
temp/
*.parquet